body {
  margin: 0;
  font-family: Helvetica;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 80px;
}
