body {
  margin: 0;
  font-family: Helvetica;
  background: rgba(250, 17, 22, 1.00);
}

h1 {
  color: white;
  font-weight: lighter;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 80px;
}
